@model PaymentDetailVM

@{
    ViewData["Title"] = "Payment Detail";
}

@*<h1>Create</h1>

<h4>Employee</h4>
<hr />*@
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Payroll List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment</li>
                </ol>
            </nav><br /><br />
            <form>
                <div class="row">
                    <div class="form-group col-md-1">
                        <label asp-for="FullName"></label>
                    </div>
                    <div class="form-group col-md-3 font-italic font-weith-bold">
                        <input asp-for="FullName" class="form-control" readonly style="background-color:darkgray" />
                    </div>

                    <div class="form-group col-md-1">
                        <label asp-for="NISNum"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="NISNum" class="form-control" readonly style="background-color:darkgray" />
                    </div>

                    <div class="form-group col-md-1">
                        <label asp-for="TRNNum"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="TRNNum" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <br />
                <h3>Date and Hours</h3>
                <hr style="background-color:crimson" />
                <div class="row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="PayMonth"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="PayMonth" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="Year"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="Year" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="PayDate"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="PayDate" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="HourlyRate"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="HourlyRate" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="HoursWorked"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="HoursWorked" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="ContractualHours"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="ContractualHours" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="OvertimeRate"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="OvertimeRate" class="form-control" style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="OvertimeHours"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="OvertimeHours" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <br />
                <h3>Deductions</h3>
                <hr style="background-color:crimson" />
                <div class="row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="NISTax"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="NISTax" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="NHTTax"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="NHTTax" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="EDUTax"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="EDUTax" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="IncomTax"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="IncomTax" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="TotalDeduction"></label>
                    </div>
                    <div class="form-group col-md-4  font-weight-bold">
                        <input asp-for="TotalDeduction" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <h3>Earnings</h3>
                <hr style="background-color:crimson" />
                <div class="row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="ContractualEarnings"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="ContractualEarnings" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="OvertimeEarnings"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="OvertimeEarnings" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="TotalEarnings"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="TotalEarnings" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="NetSalary"></label>
                    </div>
                    <div class="form-group col-md-4  font-weight-bold">
                        <input asp-for="NetSalary" class="form-control" readonly style="background-color:darkgray" />
                    </div>
                </div>
                <br />
            </form>
            <br />
        </div>
    </div>
</div>
